.c-button {
  background-color: $white;
  border: 3px solid $darkGrey;
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: bold;
  min-width: 190px;
  text-align: center;
  color: $darkGrey;
  transition: all 0.2s ease;

  &:hover, &:focus {
    background-color: $darkGrey;
    color: $white;
  }

  &--primary {
    background-color: $primary;
    border-color: $primary-dark;
    &:hover, &:focus {
      background-color: $primary-light;
      color: $darkGrey;
    }
  }

  &--warning {
    background-color: $warning;
    border-color: $warning-dark;
    &:hover, &:focus {
      background-color: $warning-light;
      color: $darkGrey;
    }
  }

  &--small {
    min-width: 100px;
    @include font-size(14px);
    padding: 0.37rem 0.5rem;
  }

  &--icon {
    min-width: unset;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 50%;
    border: 0px;
    box-shadow: 0 0 4px #bababa;
    &:hover, &:focus {
      background-color: white;
      box-shadow: 0 0 7px #bababa;
      border: 1px solid black;
    }
  }
}
