.c-button {
  background-color: $white;
  border: 3px solid transparent;
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: bold;
  min-width: 190px;
  text-align: center;
  color: $darkGrey;
  transition: all 0.2s ease;

  &:hover, &:focus {
    border: 3px solid $black;
    color: $darkGrey;
    box-shadow: 0 0 0 4px rgba($black, 0.4);
  }

  &--primary {
    background-color: $primary;
    // border-color: $primary-dark;
    &:hover, &:focus {
      background-color: $white;
      border: 3px solid $primary;
      color: $darkGrey;
      box-shadow: 0 0 0 4px rgba($primary, 0.4);
    }
  }

  &--warning {
    background-color: $warning;
    &:hover, &:focus {
      background-color: $white;
      border: 3px solid $warning;
      color: $darkGrey;
      box-shadow: 0 0 0 4px rgba($warning, 0.4);
    }
  }

  &--small {
    min-width: 100px;
    @include font-size(14px);
    padding: 0.37rem 0.5rem;
  }

  &--icon {
    min-width: unset;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: #f0f0f0;
    &:hover, &:focus {
      background-color: white;
      box-shadow: 0 0 0 4px #bababa;
      border: 2px solid black;
    }
  }
}
