.c-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  @include font-size(18px);
  border-bottom: 4px solid $primary;

  color: $darkGrey;
  text-transform: uppercase;
  &__inner {
    max-width: $global-main-width;
    margin: 0 auto;
    padding: 1rem;
  }
  h1, a {
    font-size: inherit;
    margin: 0px;
    color: inherit;
  }
}