$green: #a0ff1f !default;
$pink: #f70087 !default;
$black: #000000 !default;
$white: #ffffff !default;
$darkGrey: #5b5b5b !default;
$midGrey: #c3c3c3 !default;
$lightGrey: #f8f8f8 !default;

// RESPONSIVE BREAKPOINTS
$xs: "350px";
$sm: "576px";
$md: "768px";
$lg: "991px";
$xl: "1200px";
$xxl: "1600px";
